.page {
	min-width: 1100px;
	/* мы ещё не умеем делать мобильную версию сайта, */
	/* поэтому выше установлена минимальная ширина страницы */
	max-width: 1600px;
	/* выше установили ограничение по максимальной ширине */
	margin: 0 auto;
	/* выше для экранов больше 1600px отцентрировали весь контент */
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
	margin: 0;
	padding: 0;
	height: 100vh;
	min-height: 600px;
	max-height: 756px;
	background-color: #f2f2f2;
	/* выше установили ограничения для секции */
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.logo {
	width: 228px;
	height: 32px;
}

.logo_place_header {
	position: absolute;
	top: 30px;
	left: 64px;
	z-index: 3;
}

.header__title {
	max-width: 730px;
	line-height: 96px;
	font-size: 102px;
	font-weight: 600;
	margin: 0 0 0 64px;
	z-index: 3;
}

.header__subtitle {
	max-width: 388px;
	margin: 0;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	bottom: 30px;
	left: 64px;
	z-index: 2;
}

.link {
	text-decoration: none;
	color: #2f80ed;
}

.header__main-illustration {
	width: 765px;
	height: 608px;
  object-fit: cover;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
	height: 568px;
	width: 568px;
	background-size: contain;
	background-color: #2f80ed;
	position: absolute;
	top: 64px;
	right: 0px;
	flex-shrink: 1;
}

.description {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.two-columns {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.two-columns__brief {
	width: 175px;
	margin: 0;
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	color: #2f80ed;
}

.two-columns__main-text {
	margin: 0;
	padding: 0;
	width: 80%;
}

.two-columns__span-accent {
	margin: 0;
	line-height: 34px;
	font-size: 24px;
	font-weight: 600;
}

.two-columns__paragraph {
	display: flex;
	margin-top: 30px;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

.two-columns__paragraph:nth-of-type(1) {
	margin-top: 0px;
}

.digits {
	margin: 100px auto;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.section-title {
	width: 60%;
	text-align: center;
	line-height: 1.15;
	font-size: 60px;
	font-weight: 600;
	margin: 0;
}

.section-subtitle {
	width: 60%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 60px;
	line-height: 34px;
	font-size: 24px;
	font-weight: normal;
}

.table {
	width: 1100px;
	display: flex;
  row-gap: 80px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.table__cell {
	width: 250px;
}

.table__heading {
	line-height: 1.15;
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}

.table__text {
	line-height: 1.2;
	font-size: 18px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 0;
}

.feynman {
	min-height: 890px;
	background-color: #f2f2f2;
	background-image: url('../images/feynman.png');
	background-position: bottom left;
	background-repeat: no-repeat;
	display: flex;
	flex-flow: column;
	position: relative;
	align-items: center;
}

.feynman__title {
	margin-top: 100px;
	margin-bottom: 0;
	max-width: 648px;
	text-align: center;
	line-height: 1.15;
	font-size: 120px;
	font-weight: 600;
}

.feynman__subtitle {
	margin: 70px 0 0 0;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
}

.feynman__link {
	position: absolute;
	top: 50%;
	right: 48px;
	line-height: 51px;
	font-size: 36px;
	font-weight: normal;
}

.kaufman {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: #1f1f1f;
	color: white;
	position: relative;
	overflow: hidden;
}

.kaufman__triangle {
	width: 877px;
	height: 877px;
	background-image: url('../images/kaufman-triangle.svg');
	background-size: cover;
	position: absolute;
	right: -210px;
	background-repeat: no-repeat;
}

.section-title_theme_dark {
	margin-top: 90px;
	z-index: 1;
}

.section-subtitle_theme_dark {
  margin-bottom: 80px;
	z-index: 1;
}

.table_theme_dark {
  row-gap: 80px;
	margin-bottom: 90px;
}

.table__cell_theme_dark {
	width: 200px;
	z-index: 1;
}

.footer {
	min-height: 350px;
	background-color: #1f1f1f;
	color: white;
	display: flex;
}

.footer__columns {
	width: 90%;
	margin: 60px auto 40px auto;
	display: flex;
	justify-content: space-between;
}

.footer__column_content_copyright {
	flex-basis: 711px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.footer__author {
	margin: 18px 0;
	line-height: 25px;
	font-size: 18px;
	font-weight: normal;
}

.footer__column_content_info {
	display: flex;
	flex-flow: column;
}

.footer__column_content_social {
	display: flex;
	flex-direction: column;
}

.footer__column-heading {
	margin: 0 0 20px 0;
	line-height: 30px;
	font-size: 18px;
	font-weight: 600;
}

.footer__column-links {
	display: flex;
	flex-flow: column;
}

.footer__column-link {
	margin: 0;
	color: white;
	text-decoration: none;
	line-height: 30px;
	font-size: 18px;
	font-weight: normal;
}

.footer__column-link:last-of-type {
	margin-bottom: 16px;
}

.footer__social-icon {
	height: 16px;
	width: 16px;
	margin-right: 10px;
}